<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whether</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Weather</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Aqib</a>
          </li>
        </ul>
    </div>
  </nav>
  <div class="container ">
  </div>
  <div class="container mt-4">
    <div class="mb-4">
      <div class="card  rounded-3 shadow-sm border-dark">
        <div class="card-header py-3 text-bg-dark border-dark">
          <form class="d-flex" role="search" action="/" method="GET">
            <input class="form-control me-2" name="city" type="search" placeholder="Search city to find temperature " aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
             
        </div>
      </div>
    </div>
    <div class="">
      <div class="card  rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h1 class="text-center">Weather for <%=ejsData.city %></h1>
        </div>
      </div>
    </div>
    <div class="mb-4">
    </div>
    <div class="mb-4">

    </div>
    <!-- {
      cloud_pct: 0,
      temp: 22,
      feels_like: 21,
      humidity: 43,
      min_temp: 22,
      max_temp: 22,
      wind_speed: 1.54,
      wind_degrees: 270,
      sunrise: 1670722424,
      sunset: 1670759697
    } -->
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Temprature</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title"><%= ejsData?.temp%><small class="text-muted fw-light"> <spam>&#8451;</spam></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Temprature is :<%= ejsData?.temp%></li>
                <li>Min Temprature is :<%= ejsData?.min_temp%></li>
                <li>Max Temprature is :<%= ejsData?.max_temp%></li>                
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Temprature Info</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Humidity</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title"><%= ejsData?.humidity%><small class="text-muted fw-light"> %</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Wind Degree is :<%= ejsData?.wind_degrees%></li>
                <li>Feels like is :<%= ejsData?.feels_like%></li>
                <li>Humidity is :<%= ejsData?.humidity%></li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Humidity Info </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
              <h4 class="my-0 fw-normal">Wind</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title"><%= ejsData?.wind_speed%><small class="text-muted fw-light"> km/hr</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Wind Speed is :<%= ejsData?.wind_speed%></li>
                <li>Sunrise Time is :<%= ejsData?.sunrise%></li>
                <li>Sunset Time is :<%= ejsData?.sunset%></li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Wind Info</button>
            </div>
          </div>
        </div>
      </div>
  
      <h2 class="display-6 text-center mb-4">Weather for Common Places</h2>
  
      <div class="table-responsive">
        <table class="table text-center">
          <thead>
            <tr>
              <th style="width: 34%;"></th>
              <th style="width: 22%;">Cloud_pct</th>
              <th style="width: 22%;">Temp</th>
              <th style="width: 22%;">Humidity</th>
              <th style="width: 22%;">Min_temp</th>
              <th style="width: 22%;">Max_temp</th>
              <th style="width: 22%;">Wind_speed</th>
              <th style="width: 22%;">Wind_degrees</th>
              <th style="width: 22%;">Sunrise</th>
              <th style="width: 22%;">Sunset</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="text-start">Delhi</th>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Mumbai</th>
              <td></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            </tr>
          </tbody>
  
          <tbody>
            <tr>
              <th scope="row" class="text-start">Lucknow</th>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Bnagalor</th>
              <td></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">kolkata</th>
              <td></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            </tr>
            <tr>
              <th scope="row" class="text-start">Chennai</th>
              <td></td>
              <td></td>
              <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
      
  
  
  

    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>



</body>
</html>
